<body>
    <div class="container rules">
        <div class="row">
            <div class="col col-lg-10 offset-lg-2">
                
                <h3 class="text-center mt-3">Cách Thức Quay Số Trúng Thưởng</h3>
                    <ol>
                        <li>Đăng kí tài khoản</li>
                        <li>Bình chọn cho rapper mà bạn yêu thích nhất</li>
                        <li>Quay số may mắn bằng cách bấm vào nút Quay số may mắn</li>
                        <li>Click vào nút Chia sẻ ở trang chủ và đăng bài lên tường nhà bạn ở chế độ công khai cùng với caption "HÃY THAM GIA BÌNH CHỌN DỰ ĐOÁN QUÁN QUÂN RAP VIỆT ĐỂ CÓ CƠ HỘI NHẬN PHẦN THƯỞNG 2,000,000đ" và hashtag #rapvietvote2020</li>
                    </ol>
                <p class="bd-lead">Lưu ý:</p> 
                    <ul>
                        <li>Bạn chỉ có 1 lượt bình chọn.</li>
                        <li>Bạn không thể thay đổi bình chọn của mình sau khi bình chọn xong. </li>
                    </ul>
        
                <p class="bd-lead">Điều kiện để trở thành người nhận được phần quà trị giá lên đến 2,000,000VND tiền mặt:</p> 
                    <ul>
                        <li>Chỉ có duy nhất 1 người may mắn nhận được giải thưởng</li>
                        <li>Rapper bạn bình chọn chính là quán quân của Rap Việt 2020.</li>
                        <li>Con số may mắn của bạn trùng hoặc gần đúng nhất con số của chương trình trong tất cả những người tham gia bình chọn.</li>
                        <li>Nếu có 2 người trở lên có cùng số may mắn hoặc có độ gần đúng của con số may mắn bằng nhau và lượt bình chọn quán quân Rap Việt chính xác, người có thời gian bình chọn sớm hơn sẽ là người chiến thắng.</li>
                        <li class="font-weight-bold">Kết quả sẽ được công bố vào 10 giờ sáng chủ nhật ngày 8/11/2020 theo giờ Việt Nam, người chiến thắng sẽ được chúng mình liên hệ thông qua Facebook. Nếu sau 24h mà chúng mình không liên hệ được với người chiến thắng chúng mình sẽ quay số may mắn lần hai.</li>
                    </ul>	
                    
                    <p class="text-center">****HẠN CHÓT DỂ VOTE LÀ NGÀY 7 THÁNG 11 VÀO LÚC 19:59 ***</p>
            </div>
        </div>
        
    </div>
<body>