<div>Hello <%=@user.name%></div>
<div>Thank you for voting at rapviet.live</div>
<div><strong>You rapper:</strong> <%=@user.get_voted_rapper.name%> </div>
<div><strong>You rapper:</strong> <%=@user.lucky_number%> </div>
